<form action="/files/add-file" method="POST" enctype="multipart/form-data">
    <input type="file" name="theFile" />
    <input type="hidden" name="currentPath" value="<%= currentPath %>" />
    <button type="submit">Add</button>
</form>