<form action="/files/delete-folder" method="POST">
    <input type="hidden" name="folderName" id="folderName" value="<%= workingDirectory %>" />
    <input type="hidden" name="currentPath" value="<%= currentPath %>" />
    <button type="submit">Delete</button>
</form>