<form action="/files/delete-file" method="POST">
    <input type="hidden" name="fileName" id="fileName" value="<%= fileName %>" />
    <input type="hidden" name="currentPath" value="<%= currentPath %>" />
    <button type="submit">Delete File</button>
</form>