<form action="/files/rename-folder" method="POST">
    <input type="text" name="folderName" id="folderName" value="<%= workingDirectory %>" />
    <input type="hidden" name="currentPath" value="<%= currentPath %>" />
    <button type="submit">Rename</button>
</form>