<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add File</title>
</head>
<body>
    <h1>Add File</h1>
    <% if (locals.authenticated && locals.authenticated == true) { %>
        <form action="/files/add-file" method="POST" enctype="multipart/form-data">
            <input type="file" name="theFile" />
            <button type="submit">Add</button>
        </form>
        <div>
            Data:
            <%= JSON.stringify(locals) %>
        </div>
    <% } else { %>
        <div><a href="/sign-in">Sign In</a></div>
        <div><a href="/sign-up">Sign Up</a></div>
    <% } %>
</body>
</html>